<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon super Chat !</title>
</head>

<body>
    <h1>Mon super chat</h1>
    <div id="chat">

    </div>
    <form id="form" action="/send" method="post">
        <label for="chatEntry">Votre message</label>
        <input type="text" id="chatEntry" name="chatEntry" placeholder="veuilez entrer votre message" />
        <button type="submit">Envoyer</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on("test", function (test) {
            alert(test);
        })

        var formElement = document.getElementById("form");
        var inputChatElement = document.getElementById("chatEntry");
        formElement.addEventListener("submit",function(){
            socket.emit("chatEntry",inputChatElement.value);
        })
    </script>
</body>

</html>