<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titre</title>
</head>

<body>
    <h1>titre</h1>
    <div id="chat">

    </div>
   <!-- <form id="form" action="/" method="post">
        <label for="chatEntry">Votre message</label>
        <input type="text" id="chatEntry" name="chatEntry" placeholder="veuilez entrer votre message" />
        <input type="submit" value="envoyer"/>
    </form> -->
    <label for="chatEntry">Votre message</label>
    <input type="text" id="chatEntry" name="chatEntry" placeholder="veuilez entrer votre message" />
    <button id="bouttonTest" >Envoyer</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        

      //  var formElement = document.getElementById("form");

        var inputChatElement = document.getElementById("chatEntry");

        var buttonTestElement = document.getElementById("bouttonTest");

        var chat = document.getElementById("chat");

        buttonTestElement.addEventListener("click",event => {
            socket.emit("chatEntry",inputChatElement.value);
            insertMessage(inputChatElement.value);
        })

     /*   formElement.addEventListener("submit",function(){
            socket.emit("chatEntry",inputChatElement.value);
        })
    */

        socket.on("message",function(message){
            insertMessage(message);
            console.log("message recu");

        })

        function insertMessage(message){
            var messageContainer = document.createElement('p');
            messageContainer.className = "message";
            var newmessage = document.createTextNode(message);
            messageContainer.appendChild(newmessage);
            chat.appendChild(messageContainer);
        }
    </script>
</body>

</html>